.LandingPage{
    width: auto;
    height: auto;
    text-align: center;
    border: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20%;
    margin-right: 20%;
}
img {
    width: 400px;
    height: 450px;
}

.img-container img {
    /* width: auto;
    height: 550px; */
    width: 400px;
    height: 450px;
    padding: 10px;
    margin-right: 15%;
}

.text-container h1{
    vertical-align: top;
    display: inline-block;
    vertical-align: top;
    margin-top: 15%;

}
button a{
    text-decoration: none;
}

span.Btn {
    width: 80px;
    height: 15px;
    text-align: center;
}
.text-container button{
    display: block;
    margin-left: 31%;
    margin-top: 8%;
    width: 100px;
    height: 30px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    background-color: black;   
}

button :hover{
    color: white;
}